<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="board/fragments/header :: main-head">
    <style>


    </style>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Bulletin Board</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/board/list.do">Board</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="#">Inquiry</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="#">Photo</a>
                    </li>
                </ul>
                <!-- <form class="d-flex">
                     <input class="col-md-6" type="search" placeholder="Search" aria-label="Search">
                     <button class="btn btn-outline-success" type="submit">Search</button>
                 </form>-->
                <th:block layout:fragment="search">
                    <form action="#" id="searchform-header" class="searchform js__toggle active pull-right">
                        <input type="search" placeholder="Search..." class="input-search">
                        <button class="mdi mdi-magnify button-search" type="submit">
                            <i class="fa fa-search" aria-hidden="true"></i>
                        </button>
                    </form>
                </th:block>
            </div>
        </div>
    </div>
</nav>

    <th:block layout:fragment="content">
        <div class="table-responsive clearfix">
            <table class="table table-hover">
              <thead>
                <tr>
                    <th>공지 제목</th>
                    <th>작성자</th>
                    <th>등록일</th>
                </tr>
              </thead>
              <tbody>
              <tr th:if="${not #lists.isEmpty( boardList )}" th:each="row : ${boardList}">
                  <td scope="row" th:text="${#strings.equals( row.noticeYn, 'Y' ) ? '공지' : row.idx}"></td>
                  <td class="text-left">
                      <a th:href="@{/board/view.do( idx=${row.idx} )}" th:text="${row.title}"></a>
                  </td>
                  <td th:text="${#temporals.format( row.insertTime, 'yyyy-MM-dd' )}"></td>
              </tr>
              <tr th:unless="${not #lists.isEmpty( boardList )}">
                  <td colspan="5">조회된 결과가 없습니다.</td>
              </tr>
              </tbody>
            </table>
        </div>
    </th:block>
</body>

</html>